<div class="row">
    <div class="col-lg-6">
        <form #form (submit)="saveDetails()">
            <h1>Enter your personal details</h1>
            <div [metawidget]="person"
                 [properties]="personProperties">
                <select id="country">
                    <option>Australia</option>
                    <option>New Zealand</option>
                </select>
            </div>
            <div>
                <div class="alert alert-success" [hidden]="!submitted">
                    Your results have been submitted. See console for results.
                </div>
                <button class="btn btn-primary">
                    Save Details
                </button>
            </div>
        </form>
    </div>
</div>